.hero {
  height: 100%;
  width: 100%;
  position: relative;
}

.img-mid {
  height: 70vh;
  width: 100%;
  position: relative;
}

img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.hero-mid h1{
  padding: top 4rem; ;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text p {
  font-size: 1.3rem;
  color: white;
  padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}
.hero-text .show:hover {
  background-color: #01959a;
  color: black;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 555px) {
  .hero-text h1 {
    padding: 10px 20px;
    color: white;
  }
  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .hero-text .show {
    background-color: #fff;
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
  .hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-textA {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
